@import url(reset.css);
@import url(mobile.css);
@import url(variables.css);

* {
    transition: all ease-in-out .3s;
}

body {
    background: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

.container.row {
    flex-direction: row;
}

.container.col {
    flex-direction: column;
}

.container.fstart {
    align-items: flex-start;
}

.container.center {
    align-items: center;
}

.container.center.center {
    justify-content: center;
}

.container.fillw,
.fillw {
    width: 100%;
}

.container.fillh {
    height: 100%;
}

.container.fillwh {
    width: 100%;
    height: 100%;
}

.container.hugw {
    width: fit-content;
}

.container.hugh {
    height: fit-content;
}

.container .w50p {
    width: 50%;
}

#contact-block0,
#contact-block1 {
    max-width: 640px;
}

#containerFaq {
    max-width: 600px;
}

.container.hughwh {
    width: fit-content;
    height: fit-content;
}

.container.fullscreen {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
}

.container.p75 {
    padding: 75px;
}

.container.g60 {
    gap: 60px;
}

.container.g100 {
    gap: 100px;
}

.container.g75 {
    gap: 75px;
}

.container.g30 {
    gap: 30px;
}

.container.g25 {
    gap: 25px;
}

.container.g20 {
    gap: 20px;
}

.container.g15 {
    gap: 15px;
}

.container.g10 {
    gap: 10px;
}

.container.g5 {
    gap: 5px;
}

.mw500 {
    max-width: 550px;
}

button {
    outline: none;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;
    background: var(--blue);
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--light);
    border-radius: 6px;
}

button.sausage {
    border-radius: 99px;
}

img {
    object-fit: cover;
}

#main-screen>img {
    width: 40vw;
    content: url(/img/passport-img-big.png);
}

.container.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    position: absolute;
    height: 36px;
    left: 75px;
    right: 77px;
    top: 75px;
    padding-right: calc(40vw + 75px);
}

.container.navigation>img {
    height: 36px;
    content: url(/img/logo-red.svg);
}

.card {
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 30px;
    width: 100%;
    max-width: 350px;
    height: 250px;
    background: var(--blue-light);
    border-radius: 12px;
}

.card img {
    width: 100px;
    height: 100px;
}

.container.for {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    gap: 15px 15px;
    grid-template-areas:
        ". . ."
        ". . .";
    width: 100%;
    max-width: 1080px;
    flex-wrap: wrap;
}

.container.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;
    width: 100%;
    max-width: 450px;
}

.steps .item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 100%;
    min-height: 80px;
}

.steps .item img {
    width: 64px;
    height: 64px;
}

.item .container,
.item .container *,
.card.team .container * {
    width: 100%;
}

.card.team {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 25px;
    width: 100%;
    max-width: 270px;
    height: 350px;
    background: var(--light);
    border-radius: 12px;
}

.card.team img {
    width: 230px;
    height: 230px;
    border-radius: 6px;
}

.card.package {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 30px;
    width: 100%;
    max-width: 320px;
    height: fit-content;
    background: var(--blue-light);
    border-radius: 12px;
}

hr {
    padding: 0;
    margin: 0;
    width: 100%;
    width: 280px;
    height: 0px;
    border: 1px solid #C5D3FC;
}

.container.check {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 100%;
}

.container.check.positive img {
    width: 18px;
    height: 18px;
    content: url(/img/icon-check.svg);
}

.container.check.negative img {
    width: 18px;
    height: 18px;
    content: url(/img/icon-x.svg);
}

.card.contact {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 30px;
    width: 450px;
    height: auto;
    background: var(--light);
    border: 1px solid var(--grey-light);
    border-radius: 12px;
}

input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    width: 100%;
    height: 56px;
    border: 1px solid var(--grey-light);
    border-radius: 6px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--grey);

}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    width: 100%;
}

.faqItem {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
    width: 100%;
    height: fit-content;
    border: 1px solid var(--grey-light);
    border-radius: 12px;
    background-color: var(--light);
}

.faqItem:hover {
    border-color: var(--light);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
}

.faqItem.active {
    align-items: flex-start;
}

.faqItem p {
    display: none;
}

.faqItem img {
    width: 50px;
    height: 50px;
    content: url(/img/faq-arrow-right.svg);
}

.faqItem.active p {
    display: block;
}

.faqItem.active img {
    content: url(/img/faq-arrow-up.svg);
}

.artcon {
    max-width: 1100px;
    width: 100%;
}

.article-card {
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    gap: 30px;
    width: 350px;
    height: 250px;
    background: linear-gradient(0deg, rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.5));
    border-radius: 12px;
}

.article-card button {
    margin-top: 10px;
    cursor: pointer;
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
    position: absolute;
    width: 105px;
    height: 36px;
    left: calc(50% - 105px/2);
    top: calc(50% - 36px/2 - 25px);
    background: var(--dark);
    border-radius: 99px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--light);
}

.article-card:hover button {
    margin: 0;
    opacity: 1;
}

.article-card button:hover {
    opacity: .7;
}

.article-card button img {
    width: 14px;
    height: 14px;
    content: url(/img/icon-article.svg);
}

footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    width: 100vw;
    background: var(--dark);
}

footer img {
    width: 39.4px;
    height: 36px;
}

button.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 99px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: var(--light);
    background: transparent;
}