:root {
    --light: #FFFFFF;
    --dark: #191919;
    --grey: #424242;
    --grey-light: #ebebeb;
    --blue: #304A9A;
    --blue-light: #EEF2FF;
    --red: #E95559;
}

h1,
h2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    color: var(--dark);
}

#block-form h1,
#block-form h1 span {
    font-size: 55px;
}

h1 span {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    color: var(--dark);
    font-size: 64px;
    line-height: 74px;
}

h1 {
    font-size: 64px;
    line-height: 74px;
}

h2 {
    font-size: 24px;
    line-height: 28px;
}

h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #424242;
}

p,
span,
li {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    color: var(--grey);
    font-size: 14px;
    line-height: 16px;
}

p.l {
    font-size: 16px;
    line-height: 19px;
}

p.m {
    font-size: 14px;
    line-height: 16px;
}

p.s {
    font-size: 12px;
    line-height: 14px;
}

.blue {
    color: var(--blue);
}

.red {
    color: var(--red);
}

.grey {
    color: var(--grey);
}

.grey-light {
    color: var(--grey-light);
}

.light {
    color: var(--light);
}

div.blue-light {
    background-color: var(--blue-light);
}

img {
    object-fit: cover;
}

@media(max-width: 1024px) {
    h1 {
        font-size: 32px;
        line-height: 37px;
    }

    h2 {
        font-size: 18px;
        line-height: 21px;
    }

    p.l {
        font-size: 14px;
        line-height: 16px;
    }
}